<div ng-controller="adminCtrl">
  <form>
    <input ng-model='productTitle' placeholder="Product Title"></input>
    <input ng-model='productDesc' placeholder="Product Description"></input>
    <input ng-model='productPrice' placeholder="Product Price"></input>
    <button ng-click='addProduct(productTitle, productDesc, productPrice)'>Add Product</button>
  </form>
  <ul ng-repeat="product in products">
    <li>{{product}}<button ng-click="delete(product)">Delete Product</button><button ng-click='showForm=!showForm'>Edit Product</button>
      <form ng-show="showForm">
        <input ng-model="newField" placeholder="New Field"></input>
        <input ng-model="newStuff" placeholder="New Stuff"></input>
        <button ng-click="submitNew(product, newField, newStuff)">Submit New Stuff</button>
      </form>
    </li>
  </ul>
  <form ng-show="showForm">
    <input ng-model="newField" placeholder="New Field"></input>
    <input ng-model="newStuff" placeholder="New Stuff"></input>
    <button></button>
  </form>
</div>
